body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #242B2E;
}

.bg {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form * {
  font-size: 30px;
}

.form input {
  padding: 5px;
}

/* Without flex center */
/* 
.form {
  padding-top: 25%;
  padding-left: 30%;
} */