body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	cursor: pointer;
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: black;
	border: 3px solid black;
	border-radius: 100px;
}

.button {
	position: relative;
	left: 0px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
}

.turnOn {
	background-color: green;
}

.active {
	left: 100px;
}
