@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 60vh;
  background-image:
    linear-gradient(to right bottom,
      rgba(37, 56, 152, 0.756),
      rgba(87, 55, 214, 0.74)),
    url("../images/boat-man.jpg");
  background-position: center;
  clip-path: polygon(50% 0%, 100% 0, 97% 84%, 0 60%, 0 0);
  background-size: cover;
}

header .content {
  padding: 100px 150px
}