body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 2rem;
	margin-top: 1rem;
	background-color: #03203c;
}

.draggable {
	background-color: #cad5e2;
	border-radius: 10px;
	border: 1px solid black;
	cursor: move;
	padding: 10px;
}

.dragging {
	opacity: 0.5;
}
