body {
  background-color: black;
}
.button {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0px;
  left: 0px;
  background-color: darkcyan;
  color: aliceblue;
  border-radius: 10px;
}
