.nav {
	padding: 10px;
	background-color: #fff;
	text-align: center;
	color: chocolate;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: aquamarine;
}

.content {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35vh;
}

h2 {
	padding: 20px;
	background-color: black;
	border-radius: 10px;
	color: #fff;
}

button {
	cursor: pointer;
	padding: 10px;
	background-color: transparent;
	border: solid 1px black;
	border-radius: 5px;
}
